.comment {
    display: flex;
    flex-direction: column;
    width: 45rem;
    margin: 0 auto 0;
}

.commentReply {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin: 0 auto 0;
}

.commentContent {
    width: 100%;
}

.likeCounter {
    background-color: var(--very-light-gray);
    border-radius: 8px;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.18rem;
    align-items: center;
}

.likeCounter img {
    width: 0.625rem;
    cursor: pointer;
}

.likeCounter strong {
    font-size: 1rem;
    color: var(--moderate-blue);
}

.commentSection {
    min-width: 100%;
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

.header {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.userInfo {
    display: flex;
    gap: 1rem;
}

.userInfo strong {
    font-size: 1rem;
    color: var(--dark-blue);
}

.userInfo .hiddenUserTag {
    display: none;
}

.userNameAndTag {
    display: flex;
    gap: 0.3rem;
}

.userInfoAndTime {
    display: flex;
    gap: 1rem;
}

.userInfo .userTag {
    font-weight: bold;
    max-height: 1.3rem;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    color: var(--white);
    background-color: var(--moderate-blue);
    border-radius: 5px;
}

.userInfo time {
    font-size: 1rem;
    color: var(--grayish-blue);
}

.allReplies {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.replyTextArea {
    background-color: var(--white);
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

.replyTextArea textarea {
    width: 100%;
    height: 6rem;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--moderate-blue);
    border-radius: 8px;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    resize: none;
    background-color: transparent;
}

.replyTextArea > button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-family: "Rubik", sans-serif;
    font-size: 0.85rem;
    padding: 0.75rem 1.3rem;
    text-transform: uppercase;
    background-color: var(--moderate-blue);
    color: var(--white);
    transition: opacity 300ms;
}

.replyTextArea > button:hover {
    opacity: 0.7;
}

.hiddenReplyButton {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

.replyButton {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: opacity 300ms;
}

.replyButton:hover {
    opacity: 0.7;
}

.replyButton strong {
    font-size: 1rem;
    color: var(--moderate-blue);
}

.hiddenEditDeleteBtn {
    pointer-events: none;
    display: none;
}

.editDeleteBtn {
    display: flex;
    gap: 1.5rem;
}

.deleteBtn,
.editBtn {
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    transition: opacity 300ms;
}

.deleteBtn:hover,
.editBtn:hover {
    opacity: 0.7;
}

.deleteBtn strong {
    font-family: "Rubik", sans-serif;
    color: var(--soft-red);
}

.editBtn strong {
    font-family: "Rubik", sans-serif;
    color: var(--moderate-blue);
}

.content {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--grayish-blue);
    line-height: 1.5;
}

.content {
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--grayish-blue);
    line-height: 1.5;
}

.content p > span {
    font-weight: bold;
    color: var(--moderate-blue);
}

.content form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

.userAvatarAndText {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.content form textarea {
    width: 100%;
    height: 6rem;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--moderate-blue);
    border-radius: 8px;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    resize: none;
    background-color: transparent;
}

.content form button {
    position: relative;
    align-self: flex-end;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    font-family: "Rubik", sans-serif;
    font-size: 0.85rem;
    padding: 0.75rem 1.3rem;
    text-transform: uppercase;
    background-color: var(--moderate-blue);
    color: var(--white);
    transition: opacity 300ms;
}

.content form button:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .comment {
        width: 90vw;
    }

    .commentReply {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: 0 auto 0;
    }

    .commentSection {
        max-width: 90vw;
    }

    .commentContent {
        width: 100%;
    }

    .userNameAndTag {
        display: flex;
        gap: 0.5rem;
    }

    .userInfo time {
        font-size: 0.9rem;
        margin-top: 0.1rem;
    }

    .replyTextArea {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .replyTextArea > button {
        align-self: flex-end;
    }
}

@media (max-width: 648px) {
    .likeCounter img {
        width: 0.625rem;
        cursor: pointer;
    }

    .likeCounter strong {
        font-size: 1rem;
        color: var(--moderate-blue);
    }

    .commentSection {
        position: relative;
    }

    .editDeleteBtn {
        gap: 0.8rem;
    }

    .deleteBtn img,
    .editBtn img {
        width: 1rem;
    }

    .deleteBtn strong {
        display: none;
    }

    .editBtn strong {
        display: none;
    }

    .userInfoAndTime {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
}

@media (max-width: 425px) {
    .comment,
    .commentReply,
    .commentSection {
        width: 90vw;
    }

    .likeCounter img {
        width: 0.625rem;
        cursor: pointer;
    }

    .replyButton strong {
        display: none;
    }

    .replyButton img {
        width: 1.3rem;
    }

    .userTag {
        display: none;
    }
}
