:root {
    --dark-blue: #334253;
    --grayish-blue: #67727e;
    --dark-gray: #202024;
    --light-gray: #e9ebf0;
    --very-light-gray: #f5f6fa;
    --white: #ffffff;
    --moderate-blue: #5357b6;
    --light-blue: #888cff;
    --light-grayish-blue: #c5c6ef;
    --soft-red: #ed6368;
    --pale-red: #ffb8bb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--moderate-blue);
}

body {
    background-color: var(--very-light-gray);
    font-family: "Rubik", sans-serif;
    padding: 4rem 0;
}

@media (max-width: 648px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 85%;
    }
}
